.app-header {
    background-color: #000000 !important;
}

.header-toolbar {
    display: flex;
    align-items: center;
}

.header-logo {
    font-weight: 600;
}

.header-spacer {
    flex-grow: 1;
}

.header-actions {
    display: flex;
    gap: 12px;
}

.login-btn {
    background-color: #1976d2 !important;
    border: 1px solid #1976d2 !important;
    color: #ffffff !important;
}

.register-btn {
    background-color: #19d26c !important;
}

.my-blog-btn {
    background-color: #3b19d2 !important;
    border: 1px solid #3b19d2 !important;
    color: #ffffff !important;
}

.logout-btn {
     background-color: #d2191c !important;
}